In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.cluster import KMeans
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt

In [3]:
df_train=pd.read_csv("E:/DS/vaibhav sir classes/Aug/29.8.21/training_set.csv")

In [4]:
df_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
df_train.shape

(614, 13)

In [6]:
df_train.isnull().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
df_train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,612.000000,613.000000,592.000000,600.00000,564.000000
mean,5405.540850,1620.888940,146.412162,342.00000,0.842199
std,6118.914057,2928.624748,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2875.750000,0.000000,100.000000,360.00000,1.000000
50%,3806.000000,1167.000000,128.000000,360.00000,1.000000
75%,5803.750000,2302.000000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [8]:
df_train=df_train.replace('NaN',0)

In [9]:
df_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.0,360.0,0.0,Semiurban,N

In [10]:
df_train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome      float64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [11]:
cat_cols=(['Gender','Married','Dependents','Education','Self_Employed','Property_Area'])

In [12]:
df_train["Gender"].fillna("No Gender", inplace = True)

In [13]:
df_train.dropna(how = 'all',inplace= True)

In [14]:
df_train.shape

(614, 13)

In [15]:
df_train.replace(to_replace = 'NaN')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.0,360.0,0.0,Semiurban,N

In [16]:
df_train.Gender.unique()

array(['Male', 'No Gender', 'Female'], dtype=object)

In [17]:
df_train.Married.mode()

0    Yes
dtype: object

In [18]:
df_train["Married"].fillna("Yes", inplace = True)

In [19]:
df_train.Dependents.mode()

0    0
dtype: object

In [20]:
df_train["Dependents"].fillna(0, inplace = True)

In [21]:
df_train.Education.mode()

0    Graduate
dtype: object

In [22]:
df_train["Education"].fillna('Graduate', inplace = True)

In [23]:
df_train.Self_Employed.mode()

0    No
dtype: object

In [24]:
df_train["Self_Employed"].fillna('No', inplace = True)

In [25]:
df_train.ApplicantIncome

0      5849.0
1         NaN
2      3000.0
3      2583.0
4      6000.0
        ...
609    2900.0
610    4106.0
611    8072.0
612    7583.0
613    4583.0
Name: ApplicantIncome, Length: 614, dtype: float64

In [26]:
df_train.Loan_Amount_Term.mode()

0    360.0
dtype: float64

In [27]:
df_train["Loan_Amount_Term"].fillna(360, inplace=True)

In [28]:
df_train.Credit_History.mode()

0    1.0
dtype: float64

In [29]:
df_train["Credit_History"].fillna(1, inplace= True)

In [30]:
df_train.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [31]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [32]:
df_train.CoapplicantIncome.mean()

1620.8889396225775

In [33]:
df_train.CoapplicantIncome.mode()

0    0.0
dtype: float64

In [34]:
df_train["CoapplicantIncome"].fillna(0, inplace= True)

In [35]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [36]:
df_train.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       2
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [37]:
df_train.LoanAmount.mean()

146.41216216216216

In [38]:
df_train.LoanAmount.median()

128.0

In [39]:
df_train.LoanAmount.mode()

0    120.0
dtype: float64

In [40]:
df_train['LoanAmount'].fillna(int(df_train['LoanAmount'].mean()), inplace=True)

In [41]:
df_train.ApplicantIncome.mean()

5405.5408496732025

In [42]:
df_train['ApplicantIncome'].fillna(int(df_train['ApplicantIncome'].mean()), inplace= True)

In [43]:
categorical_cols= ['Gender','Married','Education', 'Self_Employed', 'Property_Area','Loan_Status']
ordinal_encoder = OrdinalEncoder()
df_train[categorical_cols] = ordinal_encoder.fit_transform(df_train[categorical_cols])

In [44]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0,0.0,0.0,5849.0,0.0,146.0,360.0,1.0,2.0,1.0
1,LP001003,1.0,1.0,1,0.0,0.0,5405.0,1508.0,128.0,360.0,1.0,0.0,0.0
2,LP001005,1.0,1.0,0,0.0,1.0,3000.0,0.0,66.0,360.0,1.0,2.0,1.0
3,LP001006,1.0,1.0,0,1.0,0.0,2583.0,2358.0,120.0,360.0,1.0,2.0,1.0
4,LP001008,1.0,0.0,0,0.0,0.0,6000.0,0.0,141.0,360.0,1.0,2.0,1.0

In [45]:
df_train.drop(labels= "Loan_ID", axis=1, inplace= True)

In [46]:
#df_train.drop(labels= "Loan_Status", axis=1, inplace= True)

In [47]:
df_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1.0,0.0,0,0.0,0.0,5849.0,0.0,146.0,360.0,1.0,2.0,1.0
1,1.0,1.0,1,0.0,0.0,5405.0,1508.0,128.0,360.0,1.0,0.0,0.0
2,1.0,1.0,0,0.0,1.0,3000.0,0.0,66.0,360.0,1.0,2.0,1.0
3,1.0,1.0,0,1.0,0.0,2583.0,2358.0,120.0,360.0,1.0,2.0,1.0
4,1.0,0.0,0,0.0,0.0,6000.0,0.0,141.0,360.0,1.0,2.0,1.0

In [48]:
df_train.Dependents.replace( to_replace='3+',value=4,inplace= True)

In [49]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_train = pd.DataFrame(scaler.fit_transform(df_train),columns=df_train.columns)
df_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0.5,0.0,0.00,0.0,0.0,0.070489,0.000000,0.198263,0.743590,1.0,1.0,1.0
1,0.5,1.0,0.25,0.0,0.0,0.064997,0.036192,0.172214,0.743590,1.0,0.0,0.0
2,0.5,1.0,0.00,0.0,1.0,0.035250,0.000000,0.082489,0.743590,1.0,1.0,1.0
3,0.5,1.0,0.00,1.0,0.0,0.030093,0.056592,0.160637,0.743590,1.0,1.0,1.0
4,0.5,0.0,0.00,0.0,0.0,0.072356,0.000000,0.191027,0.743590,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0.0,0.0,0.00,0.0,0.0,0.034014,0.000000,0.089725,0.743590,1.0,0.0,1.0
610,0.5,1.0,1.00,0.0,0.0,0.048930,0.000000,0.044863,0.358974,1.0,0.0,1.0
611,0.5,1.0,0.25,0.0,0.0,0.097984,0.005760,0.353111,0.743590,1.0,1.0,1.0
612,0.5,1.0,0.50,0.0,0.0,0.091936,0.000000,0.257598,0.743590,1.0,1.0,1.0
613,0.0,0.0,0.00,0.0,1.0,0.054830,0.000000,0.179450,0.743590,0.0,0.5,0.0

In [50]:
x= df_train.drop(labels= "Loan_Status", axis=1)
Y=df_train["Loan_Status"]

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,Y_train,Y_test= train_test_split(x,Y, test_size= 0.2, random_state= 54)

In [52]:
x_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
59,0.5,1.0,0.50,1.0,0.0,0.039666,0.068615,0.195369,0.743590,1.0,1.0
32,0.5,0.0,0.25,0.0,1.0,0.056178,0.000000,0.140376,0.743590,1.0,0.0
414,0.0,1.0,0.00,1.0,0.0,0.024725,0.077687,0.244573,0.743590,0.0,0.5
559,0.0,1.0,0.00,0.0,0.0,0.049845,0.055344,0.250362,0.743590,1.0,0.5
286,0.0,0.0,0.00,0.0,1.0,0.030303,0.041208,0.130246,0.615385,1.0,0.5

In [53]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,Y_train)
pred=lr.predict(x_test)

In [54]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, pred)

0.8373983739837398

In [55]:
from sklearn.metrics import log_loss
log_loss(Y_test,pred )

5.616184717474695

In [56]:
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(Y_test, pred)
roc_auc

0.7228896103896105

In [57]:
from sklearn.metrics import average_precision_score
average_precision_score(Y_test, pred)

0.8195580401344323

In [58]:
df_test=pd.read_csv("E:/DS/vaibhav sir classes/Aug/29.8.21/testing_set.csv")

In [59]:
df_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [60]:
df_test.drop(labels='Loan_ID', axis=1,  inplace=True)

In [61]:
df_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [62]:
df_test.isna().sum()

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [63]:
cat=[]
con=[]
for i in df_test.columns:
    if (df_test[i].dtypes=="object"):
        cat.append (i)
    else:
        con.append (i)

In [64]:
cat

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [65]:
con

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [66]:
for i in con:
    replacer = df_test[i].mean()
    df_test[i] = df_test[i].fillna(replacer)
for i in cat:
    replacer = pd.DataFrame(df_test[i].value_counts()).index[0]
    df_test[i] = df_test[i].fillna(replacer)

In [67]:
df_test.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [68]:
df_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.000000,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.000000,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.000000,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.825444,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.000000,Urban

In [69]:
ordinal_encoder = OrdinalEncoder()
df_test[cat] = ordinal_encoder.fit_transform(df_test[cat])

In [70]:
df_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1.0,1.0,0.0,0.0,0.0,5720,0,110.0,360.0,1.000000,2.0
1,1.0,1.0,1.0,0.0,0.0,3076,1500,126.0,360.0,1.000000,2.0
2,1.0,1.0,2.0,0.0,0.0,5000,1800,208.0,360.0,1.000000,2.0
3,1.0,1.0,2.0,0.0,0.0,2340,2546,100.0,360.0,0.825444,2.0
4,1.0,0.0,0.0,1.0,0.0,3276,0,78.0,360.0,1.000000,2.0

In [71]:
scaler = MinMaxScaler()
df_test = pd.DataFrame(scaler.fit_transform(df_test),columns=df_test.columns)
df_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1.0,1.0,0.000000,0.0,0.0,0.078865,0.000000,0.157088,0.746835,1.000000,1.0
1,1.0,1.0,0.333333,0.0,0.0,0.042411,0.062500,0.187739,0.746835,1.000000,1.0
2,1.0,1.0,0.666667,0.0,0.0,0.068938,0.075000,0.344828,0.746835,1.000000,1.0
3,1.0,1.0,0.666667,0.0,0.0,0.032263,0.106083,0.137931,0.746835,0.825444,1.0
4,1.0,0.0,0.000000,1.0,0.0,0.045168,0.000000,0.095785,0.746835,1.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...
362,1.0,1.0,1.000000,1.0,1.0,0.055274,0.074042,0.162835,0.746835,1.000000,1.0
363,1.0,1.0,0.000000,0.0,0.0,0.057329,0.029542,0.166667,0.746835,1.000000,1.0
364,1.0,0.0,0.000000,0.0,0.0,0.044810,0.083042,0.187739,0.746835,0.825444,0.5
365,1.0,1.0,0.000000,0.0,0.0,0.068938,0.099708,0.249042,0.746835,1.000000,0.0
366,1.0,0.0,0.000000,0.0,1.0,0.126846,0.000000,0.134100,0.367089,1.000000,0.0

In [72]:
pred_1= lr.predict(df_test)

In [73]:
df_test['Loan_Status']= pred_1

In [74]:
df_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1.0,1.0,0.000000,0.0,0.0,0.078865,0.000000,0.157088,0.746835,1.000000,1.0,1.0
1,1.0,1.0,0.333333,0.0,0.0,0.042411,0.062500,0.187739,0.746835,1.000000,1.0,1.0
2,1.0,1.0,0.666667,0.0,0.0,0.068938,0.075000,0.344828,0.746835,1.000000,1.0,1.0
3,1.0,1.0,0.666667,0.0,0.0,0.032263,0.106083,0.137931,0.746835,0.825444,1.0,1.0
4,1.0,0.0,0.000000,1.0,0.0,0.045168,0.000000,0.095785,0.746835,1.000000,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
362,1.0,1.0,1.000000,1.0,1.0,0.055274,0.074042,0.162835,0.746835,1.000000,1.0,1.0
363,1.0,1.0,0.000000,0.0,0.0,0.057329,0.029542,0.166667,0.746835,1.000000,1.0,1.0
364,1.0,0.0,0.000000,0.0,0.0,0.044810,0.083042,0.187739,0.746835,0.825444,0.5,1.0
365,1.0,1.0,0.000000,0.0,0.0,0.068938,0.099708,0.249042,0.746835,1.000000,0.0,1.0
366,1.0,0.0,0.000000,0.0,1.0,0.126846,0.000000,0.134100,0.367089,1.000000,0.0,1.0

In [75]:
df_test.Loan_Status.replace( to_replace=1,value="Yes",inplace= True)

In [76]:
df_test.Loan_Status.replace( to_replace=0,value="No",inplace= True)

In [77]:
df_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1.0,1.0,0.000000,0.0,0.0,0.078865,0.000000,0.157088,0.746835,1.000000,1.0,Yes
1,1.0,1.0,0.333333,0.0,0.0,0.042411,0.062500,0.187739,0.746835,1.000000,1.0,Yes
2,1.0,1.0,0.666667,0.0,0.0,0.068938,0.075000,0.344828,0.746835,1.000000,1.0,Yes
3,1.0,1.0,0.666667,0.0,0.0,0.032263,0.106083,0.137931,0.746835,0.825444,1.0,Yes
4,1.0,0.0,0.000000,1.0,0.0,0.045168,0.000000,0.095785,0.746835,1.000000,1.0,Yes

In [78]:
df_test.where(df_test['Loan_Status']== 'No').dropna()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
7,1.0,1.0,0.666667,1.0,0.0,0.053510,0.000000,0.227969,0.746835,0.000000,0.0,No
13,1.0,1.0,0.666667,0.0,0.0,0.167836,0.000000,0.264368,0.746835,0.000000,0.5,No
25,1.0,0.0,0.000000,0.0,0.0,0.000000,1.000000,0.229885,0.746835,0.000000,0.0,No
35,1.0,0.0,0.000000,0.0,0.0,0.043431,0.000000,0.283525,0.746835,0.000000,0.5,No
55,1.0,0.0,0.000000,0.0,0.0,0.037916,0.000000,0.195402,0.746835,0.000000,1.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
325,1.0,0.0,0.000000,0.0,0.0,0.039639,0.100667,0.128352,0.000000,0.000000,0.5,No
339,0.0,0.0,0.000000,0.0,0.0,0.059742,0.097208,0.256705,0.746835,0.000000,0.0,No
346,1.0,1.0,0.000000,0.0,0.0,0.046754,0.081917,0.201149,0.746835,0.000000,0.0,No
351,1.0,0.0,0.000000,0.0,0.0,0.031477,0.625000,0.149425,0.746835,0.825444,0.0,No
354,1.0,1.0,1.000000,1.0,0.0,0.073295,0.007792,0.249042,0.367089,0.000000,0.5,No

In [79]:
df_test.Loan_Status.replace( to_replace="No",value=0,inplace= True)

In [86]:
df_test.Loan_Status.replace( to_replace="Yes",value=1,inplace= True)

In [87]:
df_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1.0,1.0,0.000000,0.0,0.0,0.078865,0.000000,0.157088,0.746835,1.000000,1.0,1
1,1.0,1.0,0.333333,0.0,0.0,0.042411,0.062500,0.187739,0.746835,1.000000,1.0,1
2,1.0,1.0,0.666667,0.0,0.0,0.068938,0.075000,0.344828,0.746835,1.000000,1.0,1
3,1.0,1.0,0.666667,0.0,0.0,0.032263,0.106083,0.137931,0.746835,0.825444,1.0,1
4,1.0,0.0,0.000000,1.0,0.0,0.045168,0.000000,0.095785,0.746835,1.000000,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
362,1.0,1.0,1.000000,1.0,1.0,0.055274,0.074042,0.162835,0.746835,1.000000,1.0,1
363,1.0,1.0,0.000000,0.0,0.0,0.057329,0.029542,0.166667,0.746835,1.000000,1.0,1
364,1.0,0.0,0.000000,0.0,0.0,0.044810,0.083042,0.187739,0.746835,0.825444,0.5,1
365,1.0,1.0,0.000000,0.0,0.0,0.068938,0.099708,0.249042,0.746835,1.000000,0.0,1
366,1.0,0.0,0.000000,0.0,1.0,0.126846,0.000000,0.134100,0.367089,1.000000,0.0,1

In [88]:
kmeans_model = KMeans(init='k-means++',  max_iter=400, random_state=54)

In [110]:
kmeans_model.fit(df_test[['ApplicantIncome','LoanAmount','Loan_Status']])

KMeans(max_iter=400, random_state=54)

In [111]:
def try_different_clusters(K, data):
       
    cluster_values = list(range(1, K+1))
    inertias=[]
    
    for c in cluster_values:
        model = KMeans(n_clusters = c,init='k-means++',max_iter=400,random_state=54)
        model.fit(df_test)
        inertias.append(model.inertia_)
    
    return inertias

In [134]:
outputs = try_different_clusters(15, df_test[['ApplicantIncome','LoanAmount','Loan_Status']])
distances = pd.DataFrame({"clusters": list(range(1, 16)),"sum of squared distances": outputs})

In [113]:
figure = go.Figure()
figure.add_trace(go.Scatter(x=distances["clusters"], y=distances["sum of squared distances"]))

figure.update_layout(xaxis = dict(tick0 = 1,dtick = 1,tickmode = 'linear'),                  
                  xaxis_title="Number of clusters",
                  yaxis_title="Sum of squared distances",
                  title_text="Finding optimal number of clusters using elbow method")
figure.show()

In [114]:
kmeans_model_new = KMeans(n_clusters = 5,init='k-means++',max_iter=400,random_state=54)
kmeans_model_new.fit_predict(df_test[['ApplicantIncome','LoanAmount','Loan_Status']])

array([4, 0, 0, 4, 4, 0, 4, 1, 2, 4, 4, 0, 4, 1, 0, 0, 0, 0, 2, 4, 4, 4,
       4, 0, 2, 1, 0, 2, 4, 0, 4, 0, 0, 0, 4, 1, 0, 4, 4, 0, 4, 4, 4, 0,
       4, 0, 0, 4, 0, 0, 4, 4, 0, 4, 4, 1, 0, 0, 1, 4, 4, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 4, 4, 0, 2, 0, 0, 0, 4, 0, 0, 1, 3, 1, 2, 1, 4, 0, 4,
       4, 0, 0, 2, 0, 4, 1, 4, 2, 0, 4, 0, 0, 1, 4, 4, 4, 0, 1, 4, 0, 0,
       4, 4, 4, 4, 0, 0, 0, 1, 1, 1, 4, 0, 0, 1, 1, 4, 1, 2, 4, 4, 4, 0,
       4, 4, 4, 0, 0, 4, 4, 4, 1, 4, 1, 3, 2, 0, 4, 1, 0, 0, 0, 4, 0, 1,
       4, 4, 0, 0, 0, 0, 0, 1, 4, 4, 4, 1, 1, 0, 1, 4, 4, 0, 0, 1, 1, 0,
       0, 4, 0, 0, 0, 0, 4, 0, 0, 0, 0, 2, 0, 2, 0, 4, 1, 1, 2, 4, 1, 4,
       1, 4, 4, 4, 4, 4, 4, 4, 0, 0, 4, 4, 4, 1, 0, 0, 4, 0, 4, 0, 0, 0,
       4, 0, 4, 0, 1, 4, 4, 4, 0, 1, 0, 0, 4, 4, 4, 1, 1, 4, 4, 4, 4, 1,
       4, 1, 4, 1, 0, 0, 4, 4, 1, 4, 0, 4, 4, 1, 4, 0, 0, 4, 0, 4, 4, 2,
       0, 0, 1, 4, 1, 4, 4, 0, 2, 1, 1, 4, 0, 4, 1, 2, 4, 0, 0, 0, 2, 2,
       0, 4, 0, 0, 0, 0, 4, 1, 0, 4, 4, 4, 4, 0, 4, 1, 0, 4, 4, 1, 0, 4,
       0, 0, 0, 1, 4, 0, 0, 0, 4, 1, 0, 4, 0, 0, 4, 4, 4, 1, 4, 0, 0, 4,
       0, 2, 0, 4, 4, 4, 0, 4, 4, 1, 4, 0, 4, 4, 0, 2, 1, 4, 0, 0, 2, 1,
       4, 4, 1, 0, 4, 4, 4, 0, 4, 4, 4, 4, 0, 0, 4])

In [115]:
# Create data arrays
cluster_centers = kmeans_model_new.cluster_centers_
data = np.expm1(cluster_centers)
points = np.append(data, cluster_centers, axis=1)
points

array([[ 6.93102545e-02,  2.73672052e-01,  1.71828183e+00,
         6.70138187e-02,  2.41904108e-01,  1.00000000e+00],
       [ 5.23569736e-02,  2.34891824e-01, -2.22044605e-16,
         5.10323852e-02,  2.10983374e-01, -2.22044605e-16],
       [ 1.61969763e-01,  6.35091220e-01,  1.71828183e+00,
         1.50116636e-01,  4.91698595e-01,  1.00000000e+00],
       [ 1.05566915e+00,  1.26598074e+00,  1.71828183e+00,
         7.20601415e-01,  8.18007663e-01,  1.00000000e+00],
       [ 5.22005743e-02,  1.31610621e-01,  1.71828183e+00,
         5.08837561e-02,  1.23641946e-01,  1.00000000e+00]])

In [104]:
# Add "clusters" to customers data
points = np.append(points, [[0], [1], [2], [3], [4]], axis=1)
df_test["clusters"] = kmeans_model_new.labels_

In [116]:
# visualize clusters
figure = px.scatter_3d(df_test,
                    color='clusters',
                    x="Loan_Status",
                    y="ApplicantIncome",
                    z="LoanAmount",            
                    category_orders = {"clusters": ["0", "1", "2", "3", "4"]}                    
                    )
figure.update_layout()
figure.show()

In [130]:
train_loan_reject=df_train[df_train.Loan_Status==0]

In [131]:
train_loan_reject.count()

Gender               192
Married              192
Dependents           192
Education            192
Self_Employed        192
ApplicantIncome      192
CoapplicantIncome    192
LoanAmount           192
Loan_Amount_Term     192
Credit_History       192
Property_Area        192
Loan_Status          192
dtype: int64

In [132]:
test_loan_reject=df_test[df_test.Loan_Status==0]

In [133]:
test_loan_reject.count()

Gender               61
Married              61
Dependents           61
Education            61
Self_Employed        61
ApplicantIncome      61
CoapplicantIncome    61
LoanAmount           61
Loan_Amount_Term     61
Credit_History       61
Property_Area        61
Loan_Status          61
clusters             61
dtype: int64